{% extends 'base.html' %}

{% block title %}Подтвердите адрес электронной почты{% endblock %}

{% block content %}
<div class="auth d-flex justify-content-center align-items-center min-vh-100 ">
    <div class="card custom_shadow" style="width: 300px;">
        <div class="card-body text-center">
            <h1>Подтвердите адрес электронной почты</h1>
            <p>Пожалуйста, подтвердите почту <a class="btn-outline-success" href="mailto:{{ email }}"> {{ email }}</a></p>
            <form method="post" action="">
                {% csrf_token %}
                <input class="btn btn-success" type="submit" value="Подтвердить">
            </form>
        </div>
    </div>
</div>
{% endblock %}