{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="auth d-flex justify-content-center align-items-center min-vh-100">
    <div class="card custom_shadow" style="width: 300px;">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Сброс пароля</h1>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Введите ваш email, чтобы восстановить пароль.</p>
                    <form action="{% url 'account_reset_password' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Ваш email:</label>
                            <input type="email" name="email" id="id_email" class="form-control" value="{{ email }}" placeholder="адрес электронной почты" required>
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Восстановление пароля</button>
                    </form>
                </div>
            </div> <br>
        </div>
    </div>
</div>
{% endblock %}
