{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="auth d-flex justify-content-center align-items-center min-vh-100">
    <div class="card custom_shadow" style="width: 400px;">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Восстановление пароля</h1>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Письмо для восстановления пароля отправлено.</p>
                    <p class="card-text">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
                    <p class="card-text">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым вы зарегистрировались, и проверьте папку со спамом.</p>
                </div>
            </div>
        </div> <br>
    </div> 
</div>
{% endblock %}
